<div class="header_container">
  <!-- menu -->
  <div class="menu_toggle">
    <a href="#">
      <div>
        <img src="/assets/img/Group 3.png" alt="" />
      </div>
    </a>
  </div>
 

  <!-- logo -->
  <div class="logo">
    <a href="#">
      <img src="/assets/img/Trazado 10193.png" alt="" />
    </a>
  </div>

  <div class="menu">
    <div class="categorias">
      <nav>
        <ul>
          <li style="display: flex">
            <span>
              <img src="/assets/img/Group 2.png" alt="" />
            </span>
            En vivo
          </li>
          <li>Entretenimiento</li>
          <li>Noticias</li>
          <li>Deportes</li>
        </ul>
      </nav>
    </div>
    <div class="secciones">
      <div class="secciones_deportivas">
        <ul>
          <li>UEFA CHAMPIONS LEAGUE</li>
          <li>FUTBOL PERUANO</li>
          <li>FUTBOL MUNDIAL</li>
          <li>SELECCION</li>
          <li>FUTBOL EN AMERICA</li>
          <li>POLIDEPORTIVO</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="redes_sociales">
    <ul>
      <li>
        <a href="" class="fb">
          <span class="fb"><img
              src="assets/img/Grupo 4293.png"
              style="width: 25px; height: 25px"
              alt=""
          /></span>
        </a>
      </li>
      <li>
        <a href="" class="tw">
          <span class="tw"><img
              src="assets/img/Grupo 4294.png"
              style="width: 25px; height: 25px"
              alt=""
          /></span>
        </a>
      </li>
    </ul>
  </div>
</div>
