<!DOCTYPE html>
<html lang="en">
<body>
    <header id="main_header" class="main__header">
        <nav class="nav-container">
            <a href="" class="title1">EN VIVO</a>
            <a href="" class="title2">ENTRETENIENTO</a>
            <button id="menu-button" class="menu-button">
                <img src="/assets/img/Group 3.png" class="img-button" alt="">
            </button>
            <img src="/assets/img/Group 2.png" class="img-tv" alt="">
            <img src="/assets/img/Trazado 10193.png" class="img-logo" alt="">
        </nav>
    </header>
    <main>
        
    </main>
</body>
</html>
