<div class="table">
  <div class="table__header">
    <div class="tab__opcion">
      <div class="cnt">
        <ul>
          <li>
            <a href="" style="font-size: 1.8rem; text-align: left"
              >RESULTADO ELIMINATORIAS</a
            >
          </li>
        </ul>
      </div>
      <div class="tab-betsson">
        <img src="/assets/img/Group.png" alt="" class="logo-betsson" />
        <a href="" class="logo-betsson--text">APUESTAS DEPORTIVAS</a>
      </div>
      <label for="" class="div-tab--label1">
        <a href="" class="div-tab--text1">Tabla de posiciones</a>
      </label>
      <label for="" class="div-tab--label2">
        <a href="" class="div-tab--text2">Fechas</a>
      </label>
      <label for="" class="div-tab--label3">
        <a href="" class="div-tab--text3">Grupos</a>
      </label>
    </div>
  </div>
  <div class="table__container-header">
    <div class="table1"></div>
    <div class="table2">
      <div class="table2_cnt">
        <ul>
          <li>
            <a href="">Local</a>
          </li>
          <li>
            <a href="">Empate</a>
          </li>
          <li>
            <a href="">Visita</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="table__container">
    <div class="table__container1">
      <table
        class="table__cnt"
        BORDER
        width="100%"
        rules="none"
        cellspacing="0"
      >
        <tr ALIGN="center">
          <td><img src="assets/img/Grupo 7932.png" alt="" /></td>
          <td>Brasil</td>
          <td>5.30</td>
          <td>1.20</td>
          <td>0.10</td>
          <td><img src="assets/img/Grupo 7933.png" alt="" /></td>
          <td>Perú</td>
        </tr>
        <tr style="background-color: #e4e5e5" ALIGN="center">
          <td><img src="assets/img/Grupo 7934.png" alt="" /></td>
          <td>Bolivia</td>
          <td>1.20</td>
          <td>0.30</td>
          <td>3.20</td>
          <td><img src="assets/img/Grupo 7935.png" alt="" /></td>
          <td>Qatar</td>
        </tr>
        <tr ALIGN="center">
          <td><img src="assets/img/Grupo 7935.png" alt="" /></td>
          <td>Venezuela</td>
          <td>2.30</td>
          <td>3.25</td>
          <td>1.25</td>
          <td><img src="assets/img/Grupo 7934.png" alt="" /></td>
          <td>Uruguay</td>
        </tr>
      </table>
    </div>
    <div class="table__container2">
      <table BORDER width="100%" rules="none" cellspacing="0">
        <tr ALIGN="center">
          <td><img src="assets/img/Grupo 7932.png" alt="" /></td>
          <td>Brasil</td>
          <td>5.30</td>
          <td>1.20</td>
          <td>0.10</td>
          <td><img src="assets/img/Grupo 7933.png" alt="" /></td>
          <td>Perú</td>
        </tr>
        <tr style="background-color: #e4e5e5" ALIGN="center">
          <td><img src="assets/img/Grupo 7934.png" alt="" /></td>
          <td>Bolivia</td>
          <td>1.20</td>
          <td>0.30</td>
          <td>3.20</td>
          <td><img src="assets/img/Grupo 7935.png" alt="" /></td>
          <td>Qatar</td>
        </tr>
        <tr ALIGN="center">
          <td><img src="assets/img/Grupo 7935.png" alt="" /></td>
          <td>Venezuela</td>
          <td>2.30</td>
          <td>3.25</td>
          <td>1.25</td>
          <td><img src="assets/img/Grupo 7934.png" alt="" /></td>
          <td>Uruguay</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="table__footer">
    <div class="table__button">
      <button class="button">
        <a href="" class="button-text">APUESTA AQUÍ</a>
        <a class="button-tab"></a>
      </button>
    </div>
  </div>
</div>
