.table__container {
  display: flex;
}

.table__container1 {
  position: relative;
  display: flex;
  width: 100%;
  border-spacing: 0;
  border-radius: 0rem 0rem 1rem 1rem;
  border: 0.1rem solid #c4c4c4;
  border-top: 0rem;
  font-size: 1.4rem;
}

.table__container2 {
  position: relative;
  width: 100%;
  border-spacing: 0;
  border-radius: 0rem 0rem 1rem 1rem;
  border: 0.1rem solid #c4c4c4;
  border-top: 0rem;
  font-size: 1.4rem;
}

.table__cnt {
  justify-content: center;
}

// desktop
@media (min-width: 1025px) {
  .table {
    display: inline-block;
    width: 970px;
    height: 291px;
  }
  .table__header {
    display: flex;
    width: 970px;
    height: 63px;
  }
  .table__container {
    display: flex;
    width: 970px;
    height: 156px;
    align-items: row;
  }

  .table__container1 {
    display: flex;
    width: 100%;
    height: 156px;
  }

  .table__container2 {
    display: flex;
    width: 100%;
    height: 156px;
  }

  .cnt {
    display: flex;
    width: 158px;
    height: 63px;
    align-content: center;
    margin: -6px 16px;
    border-left: 4px solid black;
  }

  .table__footer {
    display: flex;
    width: 970px;
    height: 72px;
    justify-content: center;
  }

  .table__button {
    height: 14px;
  }

  .table__container-header {
    position: relative;
    display: flex;
    width: 970px;
    height: 34px;
    background-color: #e4e5e5;
  }

  .table1 {
    position: relative;
    display: flex;
    width: 50%;
    height: 34px;
    justify-content: center;
  }
  .table2 {
    position: relative;
    display: flex;
    width: 50%;
    height: 34px;
    justify-content: center;
  }

  li {
    list-style: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: #2a2d43;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 1.4rem;
  }

  .button {
    position: relative;
    height: 4.5rem;
    width: 30rem;
    left: 2.9rem;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.25);
    margin-top: 5%;
  }

  .button .button-text {
    position: relative;
    left: 9.4rem;
    text-decoration: none;
    color: #ff5000;
  }

  .button-tab {
    position: relative;
    width: 2rem;
    height: 2rem;
    top: -20px;
    left: 60px;
  }

  .button__tab {
    display: flex;
  }
  .button-tab::before,
  .button-tab::after {
    content: "";
    position: relative;
    display: flex;
    height: 2px;
    width: 1rem;
    background-color: #ff5000;
  }

  .button-tab::before {
    left: 46%;
    top: 0.9rem;
    transform: rotate(40deg);
    border-radius: 1rem;
  }

  .button-tab::after {
    left: 46%;
    top: 1.3rem;
    transform: rotate(-45deg);
    border-radius: 1rem;
  }

  .tab__opcion {
    display: flex;
  }

  .div-tab--label1,
  .div-tab--label2,
  .div-tab--label3 {
    display: flex;
    position: relative;
    align-items: center;
    height: 38px;
  }
  .div-tab--label1 {
    width: 152px;
    background-color: #901438;
  }
  .div-tab--label2 {
    width: 55px;
    background-color: #771330;
  }
  .div-tab--label3 {
    width: 60px;
    right: 0.1rem;
    background-color: #610f27;
    border-radius: 0rem 1rem 0rem 0rem;
  }

  .tab-betsson {
    position: relative;
    display: inline-block;
    width: 172px;
    height: 45px;
    background-color: #ff6600;
    border: 0.1rem solid #ff6600;
    align-items: center;
    margin-top: 2%;
  }

  .logo-betsson {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
  }

  .logo-betsson--text {
    position: relative;
    display: flex;
    font-size: 0.6rem;
    color: #532709;
    justify-content: center;
    text-decoration: none;
  }

  .div-tab--text1,
  .div-tab--text2,
  .div-tab--text3 {
    position: relative;
    color: #ffffff;
    text-decoration: none;
  }

  .div-tab--label1 .div-tab--text1 {
    font-size: 1.4rem;
    left: 1.2rem;
  }

  .div-tab--label2 .div-tab--text2 {
    font-size: 1.2rem;
    left: 0.9rem;
  }
  .div-tab--label3 .div-tab--text3 {
    font-size: 1.2rem;
    left: 0.9rem;
  }
}

// tablets
@media (min-width: 600px) and (max-width: 1024px) {
  .table__container {
    display: flex;
    flex-direction: column;
    width: 970px;
    height: 291px;
  }

  .table__footer {
    position: relative;
    display: flex;
    min-width: 600px;
    height: 78px;
    justify-content: center;
  }

  .table__button {
    height: 14px;
  }

  .button {
    position: relative;
    height: 4.5rem;
    width: 30rem;
    left: 2.9rem;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.25);
    margin-top: 5%;
  }

  .button .button-text {
    position: relative;
    left: 9.4rem;
    text-decoration: none;
    color: #ff5000;
  }

  .button-tab {
    position: relative;
    width: 2rem;
    height: 2rem;
    top: -20px;
    left: 60px;
  }

  .table__container-header {
    position: relative;
    display: flex;
    width: 970px;
    height: 34px;
    background-color: #e4e5e5;
  }

  .table2 {
    position: relative;
    display: flex;
    width: 100%;
    height: 34px;
    justify-content: center;
  }

  li {
    list-style: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: #2a2d43;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 1.4rem;
  }

  .button__tab {
    display: flex;
  }
  .button-tab::before,
  .button-tab::after {
    content: "";
    position: relative;
    display: flex;
    height: 2px;
    width: 1rem;
    background-color: #ff5000;
  }

  .button-tab::before {
    left: 46%;
    top: 0.9rem;
    transform: rotate(40deg);
    border-radius: 1rem;
  }

  .button-tab::after {
    left: 46%;
    top: 1.3rem;
    transform: rotate(-45deg);
    border-radius: 1rem;
  }
}
.table__header {
  position: relative;
  display: flex;
  height: 63px;
  min-width: 360px;
  justify-content: right;
}

.table__container1 {
  display: flex;
  width: 100%;
  height: 156px;
}

.table__container2 {
  display: flex;
  width: 100%;
  height: 156px;
}

.tab__opcion {
  display: flex;
}

.div-tab--label1,
.div-tab--label2,
.div-tab--label3 {
  display: flex;
  position: relative;
  width: 207px;
  height: 45px;
  justify-content: center;
  margin-top: 2.31%;
}

.div-tab--label1 {
  background-color: #901438;
}
.div-tab--label2 {
  background-color: #771330;
}
.div-tab--label3 {
  background-color: #610f27;
  border-radius: 0rem 1rem 0rem 0rem;
}

.tab-betsson {
  position: relative;
  width: 172px;
  height: 45px;
  background-color: #ff6600;
  border: 0.1rem solid #ff6600;
  margin-top: 2.31%;
}
.logo-betsson {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  width: 60%;
}

.logo-betsson--text {
  position: relative;
  display: flex;
  font-size: 1rem;
  color: #532709;
  justify-content: center;
  text-decoration: none;
}

.div-tab--label1 .div-tab--text1,
.div-tab--label2 .div-tab--text2,
.div-tab--label3 .div-tab--text3 {
  position: relative;
  font-size: 1.4rem;
  color: #ffffff;
  text-decoration: none;
  margin-top: 5%;
}
.div-tab--label1 .div-tab--text1 {
  left: 1.2rem;
}

.div-tab--label2 .div-tab--text2 {
  left: 0.9rem;
}
.div-tab--label3 .div-tab--text3 {
  left: 0.9rem;
}

// mobile
@media (max-width: 599px) {
  img {
    display: none;
  }

  .table__container {
    display: flex;
    height: 221px;
    flex-direction: column-reverse;
  }
  .table__header {
    position: relative;
    display: flex;
    height: 38px;
    min-width: 360px;
  }
  .table__container1 {
    position: relative;
    display: flex;
    min-width: 360px;
    height: 118px;
  }
  .table__container2 {
    position: relative;
    display: flex;
    min-width: 360px;
    height: 103px;
  }
  .table__footer {
    position: relative;
    display: flex;
    min-width: 360px;
    height: 78px;
  }
  .cnt {
    display: none;
  }

  .table2 {
    position: relative;
    display: flex;
    width: 100%;
    height: 34px;
    justify-content: center;
  }

  li {
    list-style: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: #2a2d43;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 1.4rem;
  }

  .tab__opcion {
    display: flex;
    min-width: 360px;
  }
  .div-tab--label1 {
    display: flex;
    position: relative;
    width: 152px;
    height: 38px;
    background-color: #901438;
    justify-content: center;
  }
  .div-tab--label2 {
    display: flex;
    position: relative;
    width: 55px;
    height: 38px;
    background-color: #771330;
    justify-content: center;
  }
  .div-tab--label3 {
    display: flex;
    position: relative;
    width: 60px;
    height: 38px;
    right: 0.1rem;
    background-color: #610f27;
    border-radius: 0rem 1rem 0rem 0rem;
    justify-content: center;
  }

  .tab-betsson {
    position: relative;
    display: inline-block;
    width: 15.2rem;
    height: 3.8rem;
    left: 0;
    background-color: #ff6600;
    border: 0.1rem solid #ff6600;
    border-radius: 1rem 0rem 0rem 0rem;
    border-bottom: 0rem;
    align-items: center;
  }

  .logo-betsson {
    position: relative;
    display: flex;
    left: 1.1rem;
    width: 50%;
  }

  .logo-betsson--text {
    position: relative;
    display: flex;
    font-size: 0.6rem;
    color: #532709;
    left: 1rem;
    text-decoration: none;
  }

  .div-tab--label1 .div-tab--text1 {
    position: relative;
    font-size: 1.2rem;
    color: #ffffff;
    left: 1.2rem;
    text-decoration: none;
  }

  .div-tab--label2 .div-tab--text2 {
    position: relative;
    font-size: 1.2rem;
    color: #ffffff;
    left: 0.9rem;
    text-decoration: none;
    margin-top: 12%;
    margin-left: -25%;
  }
  .div-tab--label3 .div-tab--text3 {
    position: relative;
    display: flex;
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
    margin-top: 10%;
    margin-left: -25%;
  }

  .table__button {
    height: 14px;
  }

  .button {
    position: relative;
    height: 4.5rem;
    width: 30rem;
    left: 2.9rem;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.25);
    margin-top: 5%;
  }

  .button .button-text {
    position: relative;
    left: 9.4rem;
    text-decoration: none;
    color: #ff5000;
  }

  .button-tab {
    position: relative;
    width: 2rem;
    height: 2rem;
    top: -20px;
    left: 60px;
  }

  .button__tab {
    display: flex;
  }
  .button-tab::before,
  .button-tab::after {
    content: "";
    position: relative;
    display: flex;
    height: 2px;
    width: 1rem;
    background-color: #ff5000;
  }

  .button-tab::before {
    left: 46%;
    top: 0.9rem;
    transform: rotate(40deg);
    border-radius: 1rem;
  }

  .button-tab::after {
    left: 46%;
    top: 1.3rem;
    transform: rotate(-45deg);
    border-radius: 1rem;
  }
}
