<!DOCTYPE html>
<html lang="en">
<body>
    <main>
        <div style="overflow-x:auto;">
            <div class="div-tab">
                <div class="tab-betsson">
                    <img src="/assets/img/Group.png" alt="" class="logo-betsson">
                    <a href="" class="logo-betsson--text">APUESTAS DEPORTIVAS</a>
                </div>
                <label for="" class="div-tab--label1">
                    <a href="" class="div-tab--text1">Tabla de posiciones</a>
                </label>  
                <label for="" class="div-tab--label2">
                    <a href="" class="div-tab--text2">Fechas</a>
                </label>   
                <label for="" class="div-tab--label3">
                    <a href="" class="div-tab--text3">Grupos</a>
                </label>   
            </div>
            <hr>
            <table class="table">
            <thead>
                <tr></tr>
                <tr>
                    <th></th>
                    <th>Local</th>
                    <th>Empate</th>
                    <th>Visita</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Brasil</td>
                    <td>5.30</td>
                    <td>1.20</td>
                    <td>0.10</td>
                    <td>Perú</td>
                </tr>
                <tr>
                    <td>Bolivia</td>
                    <td>1.20</td>
                    <td>0.30</td>
                    <td>3.20</td>
                    <td>Qatar</td>
                </tr>
                <tr>
                    <td>Venezuela</td>
                    <td>2.30</td>
                    <td>3.25</td>
                    <td>1.25</td>
                    <td>Uruguay</td>
                </tr>
                <tr>
                    <td>Uruguay</td>
                    <td>5.30</td>
                    <td>1.20</td>
                    <td>0.10</td>
                    <td>Perú</td>
                </tr>
                <tr>
                    <td>Paraguay</td>
                    <td>1.20</td>
                    <td>0.30</td>
                    <td>3.20</td>
                    <td>Qatar</td>
                </tr>
                <tr>
                    <td>Venezuela</td>
                    <td>2.30</td>
                    <td>3.25</td>
                    <td>1.25</td>
                    <td>Uruguay</td>
                </tr>
            </tbody>
            <button class="button">
                <a href="" class="button-text">APUESTA AQUÍ</a>
            </button>
            <button class="button-tab"></button>
        </table>
        </div>
    </main>
</body>
</html>