    <div class="card__container">
        
            <div class="card__container-principal">
                <div class="card">
                    <a href="" class="card__container-principal"></a>
                    <img src="/assets/img/futbol-mundial-melgar-vs-nacional-potosi-vivo-online-copa-sudamericana-2020-ver-directv-sports-n399166-625x352-904882 1.png" alt="" class="img-principal">
                    <div class="card__textos-principal">
                        <p class="card__titulo-principal">
                            <a href="" class="card__enlace-pincipal">Argentina vs Brasil 1-0 a Universitario con gol de Carlos Ascues</a>
                        </p>
                        <a href="" class="button__principal">
                            <span class="button__texto-principal">EN VIVO</span>
                        </a>
                    </div>
                    <div class="score">
                        <div class="card__score">
                            <span class="card__text-guion">-</span>
                            <img src="/assets/img/image 3.png" alt="" class="card__logo">
                            <span class="card__text-principal">1</span>
                            <img src="/assets/img/Grupo 7950.png" alt="" class="card__pais-principal">
                            <span class="card__text-secundario">0</span>
                            <img src="/assets/img/Grupo 7951.png" alt="" class="card__pais-secundario">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card__container-secundario">
                <div class="card">
                    <a href="" class="card__container"></a>
                    <img src="/assets/img/futbol-mundial-christian-cueva-pachuca-lo-registro-como-refuerzo-liga-mx-n399180-625x352-904930 1.png" alt="" class="img-">
                    <div class="card__textos">
                        <p class="card__titulo">
                            <a href="" class="card__enlace-secundario">Perú vs. Nueva Zelanda: este es el análisis del juego de los ´kiwis´</a>
                            <a href="" class="button__secundario">
                                <span class="button__texto-secundario">FÚTBOL PERUANO »</span>
                            </a>   
                        </p> 
                    </div>
                </div>
                <div class="card">
                    <a href="" class="card__container"></a>
                    <img src="/assets/img/futbol-mundial-binacional-debuto-triunfo-liga-1-vencio-2-0-cusco-fc-n399181-625x352-904933 1.png" alt="" class="img-secundario">
                    <div class="card__textos-secundario">
                        <p class="card__titulo-secundario">
                            <a href="" class="card__enlace">Perú vs. Nueva Zelanda: este es el analisis del juego de los ´kiwis´</a>
                            <a href="" class="button__">
                                <span class="button__texto">FÚTBOL PERUANO »</span>
                            </a> 
                        </p>
                    </div>
                </div>
            </div>
             
    </div>
