<div class="card__container">
  <div class="card__container-principal">
    <div class="card-img1">
      <img
        src="/assets/img/futbol-mundial-melgar-vs-nacional-potosi-vivo-online-copa-sudamericana-2020-ver-directv-sports-n399166-625x352-904882 1.png"
        alt=""
        class="img1"
      />
      <div class="card__textos">
        <div class="card__titulo1">
          <a href="" class="card__enlace"
            >Argentina vs Brasil 1-0 a Universitario con gol de Carlos Ascues</a
          >
          <div class="button__container">
            <button class="button__principal">EN VIVO</button>
          </div>
        </div>
      </div>
      <div class="card__score">
        <div class="card__score-contenido">
          <img src="/assets/img/image 3.png" alt="" class="card__logo" />
          <img
            src="/assets/img/Grupo 7950.png"
            alt=""
            class="card__pais-principal"
          />
          <img
            src="/assets/img/Grupo 7951.png"
            alt=""
            class="card__pais-secundario"
          />
          <div class="card__score-text">
            <span class="card__text-principal">1</span>
            <span class="card__text-guion">-</span>
            <span class="card__text-secundario">0</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card__container-secundario">
    <div class="card-img2">
      <img
        src="/assets/img/futbol-mundial-christian-cueva-pachuca-lo-registro-como-refuerzo-liga-mx-n399180-625x352-904930 1.png"
        alt=""
        class="img2"
      />
      <div class="card__textos">
        <div class="card__titulo2">
          <a href="" class="card__enlace"
            >Perú vs. Nueva Zelanda: este es el análisis del juego de
            los´kiwis´</a
          >
          <div class="button">
            <button class="button__secundario"></button>
            <span class="button__texto">FÚTBOL MUNDIAL »</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-img3">
      <img
        src="/assets/img/futbol-mundial-binacional-debuto-triunfo-liga-1-vencio-2-0-cusco-fc-n399181-625x352-904933 1.png"
        alt=""
        class="img3"
      />
      <div class="card__textos">
        <div class="card__titulo3">
          <a href="" class="card__enlace"
            >Perú vs. Nueva Zelanda: este es el analisis del juego de
            los´kiwis´</a
          >
          <div class="button">
            <button class="button__secundario"></button>
            <span class="button__texto">FÚTBOL MUNDIAL »</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
